*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: rgb(164, 147, 147); */
}
html{
  font-size: 62.6%;
}